
/* inicio */

.main{
    height: 500px;
    background-color: grey;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}
.mcenter {
    text-align: center;
    padding: 11%;
}

.botonIngreso {
    text-decoration: none;
    color: black;
}

.botonIngreso:hover {
    text-decoration: none;
    color: seashell;
}

.ingreso {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /* nosotros */
.nosotros{
    height: 500px;
    background-color: grey;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}

.nleft img{
    height: 500px;
    padding: 45px;
}

.nright {
    text-align: center;
    background-image: cover;
    background-position: center;
}

.fotoNosotros:hover { 
    transform: scale(1.2);
    transition: 2s;
}

.tituloNosotros:hover { 
    transition: 2s;
    transform: scale(1.2);
}

/* productos */


.productos { 
    text-align: center;
    font-size: xx-large;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ubicacion */

.ubicacion { 
    height: 500px;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}

.tituloEncontranos { 
    text-align: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menuEncontranos { 
    margin-left: 28%;
}

/* contacto */

.tituloContacto { 
    text-align: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contacto { 
    height: 500px;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}

.formContacto { 
    margin-left: 40%;
    margin-top: 5%; 
}

.emailContacto , .motivoContacto{ 
    width: 30%;
}


/* footer */
.footer {
    height: 200px;
    background-color: black;
}

.links { 
    text-align: center;
    color: blanchedalmond;
    letter-spacing: 2px;
    text-decoration: none;
    width: fit-content;
}

.rrss { 
    text-align: center;
    color: blanchedalmond;
    letter-spacing: 2px;
    text-decoration: none;
    width: fit-content;
}


