*{
    margin: 0;
    padding: 0;
}

/* MAQUETACION CON GRID */

.contenedor { 
    display: grid;
    width: 100%;
    grid-template-areas: "titulo titulo nave nave"
                        "menu menu menu menu"
                        "menu menu menu menu"
                        "pie pie pie pie";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/fondo.jpg);
}


/* HEADER Y NAV*/

.logo {
    height: 100px;
    grid-area: titulo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1  {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra {
    height: 100px;
    grid-area: nave;
}

.seccion { 
    min-height: 100vh;
    grid-area: menu;
}

.footer { 
    background-color: grey;
    min-height: 200px;
    grid-area: pie;
}

.navegacion ul {
    list-style: none;
    display: flex;
    position: fixed;
}

li a{
    display: inline-block;
    padding: 35px 5px;
    text-decoration: none;
    margin-left: 35px;
    color: black;
}

.barra a:hover {
    color: beige;
}



.hide {
    padding: 16px;
    font-size: 22px;
    color: black;
    cursor: pointer;
    display: none;
}


.main{
    height: 500px;
    background-color: grey;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}
/* main */

.nosotros{
    height: 500px;
    background-color: grey;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
}

.mcenter {
    text-align: center;
    padding: 11%;
}

.botonIngreso {
    text-decoration: none;
    color: black;
}

.botonIngreso:hover {
    text-decoration: none;
    color: seashell;
}

.ingreso {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    /* nosotros */

.nosotros { 
    height: 500px;
}

.nleft img{
    height: 500px;
    padding: 45px;
}

.nright {
    text-align: center;
    background-image: cover;
    background-position: center;
}

/* MENU PRODUCTOS */

img {
    height: 300px;
}

.tituloProductos { 
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: normal;
    text-transform: capitalize;
    text-align: center;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fotos {
    padding: 15px;
}

.fotos:hover   {
    transform: scale(1.5);
    transition: all 1s;
}

/* footer */
.footer{
    height: 200px;
    background-color: black;
}

.links { 
    text-align: center;
    color: blanchedalmond;
    letter-spacing: 2px;
    text-decoration: none;
    width: fit-content;
}

.rrss { 
    text-align: center;
    color: blanchedalmond;
    letter-spacing: 2px;
    text-decoration: none;
    width: fit-content;
}


iframe {
    padding: 0% 28% 10% 28%;
}
.encontranos { 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}


/* pagina contacto */
.form {
    width: 410px;
    text-align: center;
    background-color: rgba(221, 190, 169, 0.5);
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.formulario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-align: center;
    color: black;
    margin-bottom: 5px;
}

label {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

input { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: black;
    width: 90%;
    background-color: #ffe8d6;
    border-radius: 10px;
}

.news .newsSi {
    text-align: center;
    width: fit-content;
}

.botones {
    padding: 10px;
    margin-bottom: 10px;

}

.news {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.comentarios {
    border-radius: 10px;
    background-color: #ffe8d6;
    text-align: center;
}
